<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Laptop</title>
</head>
<body>
  <table>
    <tr>
      <th>Laptop Brand</th>
    </tr>
    {{#each laptops}}
    <tr>
      <td>
        {{this}}
      </td>
    </tr>
    {{each}}

  </table>
</body>
</html>